body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #8ba6ac;
  font-family: 'Poppins';

}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.list {
  background-color: #f8f8ec;
  padding: 20px 10px;
  width: 70%;
}

.title {
  text-align: center;
  color: #457d97;
}

.form {
  display: flex;
  gap: 0.5rem;
}

#input-name {
  width: 100%;
  padding: 3px;
  outline: none;
}

.tarefas {
  margin-top: 10px;
}

.container-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.concluidas {
  margin-top: 20px;
}

.concluidas ul li {
  background: #2ecc71;
  padding: 3px;
}

.btn {
  float: right;
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  color: #ffffff;


}

.btn-primary {

  background: #3498db;

}

.btn-success {
  background: #2ecc71;

}

.btn-danger {
  background: #e74c3c;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.warning-container {
  background: #e74c3c;
  width: 100%;
  text-align: center;
  padding: 2px;
  display: none;
  border-radius: 8px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;

}

.warning-text {
  color: #fffffd;
}